/* src/components/CategorySection.css */
.categories {
    padding: 40px;
    text-align: center;
  }
  .categories-container{
    margin-top: 60px;
  }
  .categories h3 {
    font-size: 22px;
    font-weight:500;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .category-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    /* flex-wrap: wrap; */
  }
  
  .category-item {
    width: 500px;
    height: 300px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* background-image: url('../assets/run.jpg'); */
  }

  #Running{
    background-image: url('../assets/run.jpg');
    width: 500px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #Football{
    background-image: url('../assets/football.jpg');
    width: 500px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #Jordan{
    background-image: url('../assets/jordan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 250px;
  }
  #Sandals-Slides{
    background-image: url('../assets/slippers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 250px;
  }
  
  #T-Shirts{
    background-image: url('../assets/tshirts.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 250px;
  }
 
  #GymandTraining{
    background-image: url('../assets/Gym.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 250px;
  }
  #PantsandLeggings{
    background-image: url('../assets/pants.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 250px;
  }
  #Maternity{
    background-image: url('../assets/maternity.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 250px;
  }
  #BagandBackpacks{
    background-image: url('../assets/bags.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 250px;
  }
  #Socks{
    background-image: url('../assets/socks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 250px;
  }
  #HatsandHeadwear{
    background-image: url('../assets/hats.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 250px;
  }
  
  .category-item p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .category-item:hover {
    transform: scale(1.05);
  }
  .shop-item {
    margin-top: 200px;
    width:180px ;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #f7f7f7;
    color: #111;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .shop-item:hover {
    transform: scale(1.1);
    background-color: #ccccc9;
    color: black;
  }
  