/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
  padding: 20px;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.product-item img {
  width: 100%;
  height: auto;
}

button {
  padding: 10px;
  background-color: #111;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #f4b400;
}

.cart {
  margin-top: 40px;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

 */
 